body {
    background-color: darkslategrey;
    color: violet;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    text-align: center;
}

header h1 {
    font-size: 50px;

}

header p {
    color: white;
}

.flex {
    /* Sets the display to flex */
    /* allows the flex proporties */
    display: flex; 
    /* Spaces out the items evenly */
    justify-content: space-evenly;
    /* Items will go to the next row once the item reaches the end width */
    flex-wrap: wrap;
}

.flex .card {
    /* Spaces outs in thirds of the total width */
    width: 25%;
    /* Sets a dashed border */
    border: 2px dashed white;

    /* Adds space between the items */
    margin: 40px;
    padding: 10px;
    /* Adds a slow transition effect */
    transition: box-shadow 500ms ease;
}

.card:hover h1 {
    /* Creates a shadow around the item */
    box-shadow: violet 0px 54px 55px, violet 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, violet 0px 12px 13px, violet 0px -3px 5px;
}

.card:hover {
    /* box-shadow: rgba(238, 138, 238, 0.56) 20px 20px 20px 20px; */
    box-shadow: violet 0px 54px 55px, violet 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, violet 0px 12px 13px, violet 0px -3px 5px;
}

.card h1 {
    /* Sets the item position relative to it's container */
    position: relative;
    border: 2px solid white;
    /* Rounds the edges */
    border-radius: 5px;
    /* Space from the text to the edges */
    padding: 6px;
    /* Moves the item above the top container */
    top: -60px;
    background-color: darkslategrey;
    transition: box-shadow 500ms ease;
}

.card .content {
    color: white;
    background: linear-gradient(90deg, rgba(238, 138, 238, 1) 0%, rgba(200,110,200,1) 100%);
    padding: 5px;
    border-radius: 15px;
}


/* Media Querery */
@media screen and (max-width: 992px) {
    .flex .card {
        flex: 0 0 45%;
        width: 45%;
    }
    
}


@media screen and (max-width: 768px) {
    .flex .card {
        flex: 0 0 90%;
        width: 90%;
    }
    
}