* {
    background-color: darkslategrey;
    color: violet;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    text-align: center;
}

header h1 {
    font-size: 50px;
}

header p {
    color: white;
}